<% layout('admin/layouts/admin_master') -%>





    <div class="container col-md-12   card" id="indexTable">
            
              
           
 
        
            <div class="row px-5 m-2 p-3">
                <div class="col-6">
                    <div id="msg"  class="msg alert  alert-success ">{{msg}}</div>
                </div>
                <div class="col-6 text-right  ">
                    <a @click="savefeatured" href="#" class="mt-2 d-inline-block  btn  btn-primary">儲存</a>
                </div>
            </div>
 


        <table class="table table-hover ">
            <thead>

                <tr>
                    <th>加入精選</th>
                    <th>專案名稱</th>
                    <th>類別</th>
                    <th>描述</th>

                </tr>
            </thead>

            <tbody>

                <tr v-for="post in posts"  >

                    <td>
                        <a v-if="post.featured" class="btn btn-success btn-sm"  href="#" @click="addfeature" :data-featured="post.featured" :data-id="post._id">精選</a>
                        <a v-else  class="btn btn-secondary btn-sm" href="#" @click="addfeature" :data-featured="post.featured" :data-id="post._id">精選</a>
                    </td>
                    <td>
                        {{post.name}}
                    </td>
                    <td>
                        <span v-for="c in post.categories">{{c.name+', '}}</span>
                    </td>
                    <td>
                        {{post.description.substring(0,20)}}
                    </td>



                </tr>

            </tbody>

        </table>
    </div>

    <script src="/bower_components/axios/dist/axios.min.js"></script>
    <script src="/bower_components/vue/dist/vue.min.js"></script>
    <script>

        let vm = new Vue({
            el: '#indexTable',
            data: { posts: '' ,msg:''},
            methods: {
                addfeature(event) {
                    event.preventDefault();
                    let attr = event.target.getAttribute('class').split(' ');

                    if (attr.indexOf('btn-secondary') != -1) {
                        event.target.setAttribute("class", "btn btn-success btn-sm");
                        event.target.dataset['featured'] = true;
                    } else {
                        event.target.dataset['featured'] = false;
                        event.target.setAttribute("class", "btn btn-secondary btn-sm")
                    }

                },
                savefeatured(event) {
                    event.preventDefault();
                    let flash = document.getElementById('msg');
                    flash.setAttribute('style','opacity:0;'); 
                    let btns  = document.querySelectorAll('a[data-featured=true]'); 
                    let featured_ids = [] ; 
                    // console.log('btns: ', btns);
                    btns.forEach(e=>{
                        featured_ids.push(e.dataset.id); 
                    });
                    setTimeout(()=>{
                        axios.post('/admin/portfolios/featured',{ids:featured_ids}).then(res=>{
                        flash.setAttribute('style','opacity:1;');     
                        this.msg=res.data.msg ; 
                    }); 
                    },300);
                    setTimeout(()=>{flash.setAttribute('style','opacity:0;'); },5000);

                }
            },
            mounted() {
                axios.get('/admin/portfolios/featured', { headers: { 'x-requested-with': 'XMLHttpRequest' } }).then(res => {
                    this.posts = res.data.posts;
                    
                    // console.log('this.posts: ', this.posts);


                })
            }
        });
    </script>