<% layout('admin/layouts/admin_master') -%>


    <div class="container col-md-12  card ">
        <table class="table table-hover " id="indexTable">
            <thead>
                <tr>
                    <th>圖片</th>
                    <th>專案名稱</th>
                    <th>類別</th>
                    <th>排序</th>
                    <th>描述</th>
                    <th>編輯</th>
                </tr>
            </thead>
            <tbody>

                
                    <tr v-for="post in posts">
                        <td>
                            <img v-bind:src="'/'+post.image" width="100px" height="100px" alt="">
                        </td>
                        <td>
                          {{post.name}}
                        </td>
                        <td>
                                {{post.categories}}
                        </td>
                        <td>
                                {{post.sort}}
                        </td>
                        <td>
                                {{post.description.replace(/<(?:.|\n)*?>/gm, '').substring(0,15)}}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" v-bind:href="'/admin/portfolios/edit/'+ post._id">編輯</a>
                            <a class="btn btn-danger btn-sm" href="" @click="deletePost" :data-id="post._id">刪除</a>
                        </td>

                    </tr>
                    
            </tbody>
        </table>
    </div>
    <script src="/bower_components/axios/dist/axios.min.js"></script>
    <script src="/bower_components/vue/dist/vue.min.js"></script>
    <script>

        new Vue({
            el: '#indexTable',
            data: {posts:<%-JSON.stringify(posts)%>},
            methods: {
                deletePost: function (event) {
                    let confirm = window.confirm("確定要刪除？");
                    if(confirm){
                    event.preventDefault();
                    axios.delete('/admin/portfolios/delete/' + event.target.dataset.id)
                        .then(function (res) {
                            event.target.parentNode.parentNode.setAttribute('style', 'display:none');
                        });
                    }    
                }
            }
        });
    </script>