
<%- include('partials/header.ejs',{title:title}) %>

<div class="row">
  <div class="col-2">
  <%- include('partials/column-left.ejs') %>
  </div>

</div>

</body>
<%- include('partials/footer.ejs') %>
