
<%- include('partials/header.ejs',{title:title}) %>

<div class="row">
  <div class="col-2">
  <%- include('partials/column-left.ejs') %>
  </div>
  <h1>asd</h1>
</div>

</body>
<%- include('partials/footer.ejs') %>
