<% layout('/layouts/master') -%>




<section class="container">
    <div class="text-center p-4"><h1>關於我們</h1></div>
    <div class="row">
        <div class="col-md-12 py-3 d-flex">
            <img src="http://via.placeholder.com/200x200" alt="" class="px-3 img-fluid img-circle">
            <p class="px-3">水箭龜是兩足行走為主，體型巨大的龜形態寶可夢，它有時也會用四足行走。水箭龜身體呈深藍色。它的前後肢短而粗壯，因關節而分成一節一節的並且都長有三趾。尾巴不再像海浪，而變成了粗短的藍色尾巴。它的下顎是奶白色的。耳朵是三角形的。它的軀幹被覆蓋在巨大且厚重的龜殼中，龜殼背部為褐色，腹部淡黃色，之間有白色的邊緣。在龜殼的前端伸出了兩門水炮。水炮可以縮進龜殼裡。
超級水箭龜在每隻手臂上長出了一個小龜殼，殼中都有門水炮。同時，原本背後的兩門水炮變成了一根長在龜殼中間的巨大水炮，巨大水炮的炮口超過了超級水箭龜的頭部，其攻擊範圍甚至能到10km。由於巨大的炮管，超級水箭龜身體無法站直，四肢也更粗壯。它的眼睛變為紅色，下巴長出了尖端，額頭上有隆起。</p>
        </div>
        <div class="col-md-12 py-3 d-flex">
            <img src="http://via.placeholder.com/200x200" alt="" class="px-3 img-fluid img-circle">
            <p class="px-3">
                    傑尼龜是以雙足行走為主的烏龜外形的寶可夢。其身體呈亮藍色，圓形的頭部可以提高傑尼龜游泳的速度。眼睛是紫色的。前後肢都有是三趾，而且很短。它長有小型波浪狀的尾巴。傑尼龜的軀幹藏在龜殼裡。龜殼的背面是褐色的，腹部的龜殼為淡黃色，兩部分之間有著白色的波浪型邊緣。
            </p>
        </div>
    </div>    
</section>