<% layout('/layouts/master') -%>

    <section class="container p-0">
        <div class="row no-gutters">

            <% posts.forEach((post)=>{%>

                <div class="col-md-3">
                    <a href="" class="portfolio-box">
                        <div class="portfolio-caption text-center align-middle">
                            <%=post.name%>
                        </div>
                        <img src="/<%=post.image%>" alt="" class="img-fluid ">
                    </a>
                </div>
                <%});%>

        </div>
    </section>