<% layout('/layouts/master') -%>






  <section class="container-fluid p-0">
    <h1 class="text-center"> 設計作品</h1>

    <div class="row no-gutters">

      <% posts.forEach((post)=>{%>

        <div class="col-md-3" ">
            <a href=" " class="portfolio-box ">
              <div class="portfolio-caption text-center align-middle ">
              <%=post.name%> 
              </div>  
              <img class="img-fluid" src="<%=post.image%>" alt="">

          </a>
        </div>
        <%});%>
    </div>
    </div>
  </section>


  <section class="container">
    <div class="row">
      <div class="col-md-6 p-5">
          <img class="d-block img-circle mx-auto my-4"  src="http://via.placeholder.com/200x200"  alt="">
        <h3 class="text-center">武藏</h3>
        <p>武藏長大後，武藏離開了家鄉想當一名寶可夢護士，就申請進入了吉利蛋護士學院，在學校裡武藏結識了一隻一事無成的吉利蛋，武藏常常幫那隻吉利蛋分擔工作，隨後兩人成為了好朋友。然而因為武藏不是一隻吉利蛋，不會使用唱歌絕招，不但無法安撫受傷的寶可夢，自己反而被其他吉利蛋的唱歌催眠，導致武藏無法畢業。</p>

      </div>
      <div class="col-md-6 p-5" >
        <img class="d-block img-circle mx-auto my-4"  src="http://via.placeholder.com/200x200"  alt="">
        <h3 class="text-center">小次郎</h3>
        <p>在卡蒂狗和小次郎中，小次郎初次回憶往事。他出生於一個百萬富翁的家庭，小次郎的父母想讓小次郎成為一位有用的人才，為小次郎請來了23個私人教師教小次郎藝術和禮儀，但小次郎從小最討厭的就是那種連拿一根湯匙都要注意禮節的上流社會的生活。小卡是小次郎小時候唯一的朋友。日子久了，小次郎便開始厭倦，常常逃課到別墅玩。小次郎透露自己曾在某個祭典上想買風鈴鈴，但因為那時候沒有零用錢而沒得到，當自己有零用錢時祭典已經結束，小次郎悲傷不已。</p>
      </div>
    </div>
    </div>
  </section>

  <section>

  </section>