<% layout('admin/layouts/admin_master') -%>

    <div class="row">
        <div class="container">
            <h1>NavManager</h1>
        </div>
    </div>

    <div class="row">
        <div class="container col-md-6">
            <div class="card">
                <div class="card-header">
                 選單1
                </div>
                <div class="card-body">
                    <h5 class="card-title">項目名稱</h5>
                    <input type="text" name="nav-url" class="form-control">
                    <h5 class="card-title">項目連結</h5>
                    <input type="text" name="nav-url" class="form-control">
                </div>
            </div>
        </div>
    </div>