<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <title><%=title%></title>
  </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="/admin">縮小檢視控制中心</a>
    <% if(typeof msg !== 'undefined') { %>
    <span style ="color:aliceblue;"><%=msg%></span>
    <%}%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-3 ">
        <li class="nav-item">
          <a class="nav-link" href="/admin">首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/signup">註冊</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/signin">登入</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/signout">登出</a>
        </li>
      </ul>

    </div>
  </nav>
